* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
 margin-top: 0px;
 margin-right: 0px;
 margin-bottom: 0px;
 margin-left: 0px
}

#stickynav #nav {
  margin: auto;
  position: fixed;
  background-color: #009688;
  overflow: hidden;
  width: 100%;
}

#stickynav li {
  display: inline;
}

#stickynav  li a {
  float: left;
  display: table-cell;
  color: #f2f2f2;
  text-align: center;
  padding: 1rem 3rem;
  text-decoration: none;
  font-size: 2rem;
}

#stickynav li a:hover {
  background-color: #b2dfdb;
  transition: all .5s ease;
  color: black;
}

#stickynav  li a.nav-active {
  background-color: #000;
}

/* css for page section 1 // home */
#home {
  background-color: #009688;
  height: 1000px;
  width: 100%;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.clock {
  width: 30rem;
  height: 30rem;
  border:20px solid white;
  border-radius:50%;
  margin:50px auto;
  position: relative;
  padding:2rem;
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px); /* account for the height of the clock hands */
}

.hand {
  width:50%;
  height:6px;
  background:black;
  position: absolute;
  top:50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.1, 2.5, 0.5, 1);
}

.second-hand {
  height: 3px;
}

/* css for page section2 */
#music {
  background-color: #80cbc4;
  height: 1000px;

}

/* css for page section3 */
#fun {
    background-color: #b2dfdb;
    height: 1000px;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.link a {
  background-color: #00bfa5;
  text-align: center;
  text-decoration: none;
  display: table-cell;
  color: #f2f2f2;
  text-align: center;
  padding: 100px 120px;
  text-decoration: none;
  font-size: 50px;
}

.link a:hover {
  transition: all .5s ease;
  background-color: #009688;
}
