@media screen and (max-width: 500px) {
    body {
        width: 90%;
    }
}

@media screen and (min-width: 500px) {
    body {
        width: 45%;
    }
}

body {
    font-family: 'Roboto Mono', monospace;
    background-color: #0f0e17;
    text-align: left;
    margin: auto;
    margin-top: 2%;
}

h1 {
    color: #fffffe;
    animation-name: pulse;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

p {
    color: #a7a9be;
}

a {
    text-decoration: none;
    color: #fffffe;
    font-weight: bold;
}

a:hover {
    color: #ff8906;
}

table {
    color: #ff8906;
}

@keyframes pulse {
    0% {
    }
    50% {
    }
    100% {

    }
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes drawLeftToRight {
    from {
        width: 0%;
        height: 50px;
    }
    to {
        width: 100%;
        height: 0px;
    }
}

.content {
    height: 50%;
}

hr {
    animation-name: drawLeftToRight;
    animation-duration: 5s;
    border: 1px solid #ff8906;
    animation-fill-mode: forwards;
}

.firstFade {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.secondFade {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

.thirdFade {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}

.fourthFade {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-delay: 4s;
    animation-fill-mode: forwards;
}

.fifthFade {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 3s;
    animation-delay: 3.5s;
    animation-fill-mode: forwards;
}