body {
    font-family: 'Roboto Mono', monospace;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

/* display only the last tab */
.tab-folder > .tab-content:target ~ .tab-content:last-child, .tab-folder > .tab-content {
    display: none;
}
.tab-folder > :last-child, .tab-folder > .tab-content:target {
    display: block;
}

.tab-content {
    margin-top: 10%;
}

ul {
    list-style: none;
}

iframe {
    margin-top: 4%;
}

.container {
    text-align: center;
    width: 30%;
    margin: auto;
}

#music-tab {
    text-align: left;
}

.margin-top {
    margin-top: 10%;
}