// $background: #F6F2E7;
$background: #FDFEFD;
$primary: black; //#F63105;
$secondary: #99FFCD ; //#0664F7;
$primGradient: linear-gradient(to left bottom, #99ffcd, #acfbb7, #c1f5a2, #d7ee90, #ece683);
$font-main: black;