// $background: #F6F2E7;
$background: #FDFEFD;
$primary: black; //#F63105;
$secondary: #99FFCD; //#0664F7;
$primGradient: linear-gradient(to left bottom, #99ffcd, #acfbb7, #c1f5a2, #d7ee90, #ece683);
$secondaryGradient: linear-gradient(to right top, #ff00ff, #ff00eb, #ff00d9, #ff00c7, #ff00b7);
$backgroundGradient: linear-gradient(to left top, #ff00ff, #ff00f0, #ff00e2, #ff00d4, #ff00c7, #f71aca, #ee27cd, #e630cf, #cf43df, #b452ec, #945ff7, #6a69ff);
$font-main: black;
$accent: #FF00FF;