@font-face {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/Bebas_Neue/BebasNeue-Regular.ttf');
}

@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 100;
    src: url('/fonts/Playfair_Display/PlayfairDisplay-Regular.ttf');
}

@font-face {
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 400;
    src: url('/fonts/Playfair_Display/PlayfairDisplay-Italic.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: url('/fonts/Roboto/Roboto-Thin.ttf');
}