@import 'fonts';
@import 'breakpoints';
@import 'animations';
@import 'colors';

/* Page Loader */

html::before,
html::after {
    content: '';
    position: fixed;
    z-index: 1000;
}

// html::before {
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background: $primary;
//     animation: slideInBottom 0.3s ease-in-out forwards;
// }

html,
body {
    padding: 0;
    margin: 0;
    cursor: none;
}

body {
    font-family: 'Playfair Display';
    margin: auto;
    background-color: $background;
    color: $font-main;
}

main {
    padding: 20px;
    max-width: 70ch;
    text-align: left;
    margin: auto;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

body::before {
    // activate for noise effect
    animation: grain 8s steps(10) infinite;
    background-image: url(/noise.png);
    content: '';
    height: 300%;
    left: -50%;
    opacity: 0.5;
    position: fixed;
    top: -100%;
    width: 300%;
    pointer-events: none;
}

article a {
    background-image: $primGradient;
    color: $primary;
}

article a:hover {
    background-color: $primary;
    background-image: none;
    color: $background;
    transition: all 0.5s ease;
}


a {
    text-decoration: none;
    color: $primary;
}

a:hover {
    cursor: none;
}

textarea {
    width: 100%;
    font-size: 16px;
}

input {
    font-size: 16px;
}

content {
    line-height: 1.6;
}

table {
    width: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

code {
    padding: 2px 5px;
    background-color: #f2f2f2;
}

blockquote {
    border: 1px solid #999;
    color: #222;
    padding: 2px 0px 2px 20px;
    margin: 0px;
    font-style: italic;
}