---
---
<div>
    <h1>Coming Soon...</h1>
</div>
<style lang="scss">
    @import "../styles/colors";

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60vh;
    }
    h1 {
        padding: 5px;
        font-size: 2em;
        font-style: italic;
        background-image: $primGradient;
    }
</style>