---
import ContactLink from "../components/ContactLink.astro";
---

<div class="container">
    <div>
        <p class="small">Contact</p>
        <p>
            <ContactLink href="mailto:aaron.abebe@gmail.com">Mail</ContactLink>
        </p>
        <p>
            <ContactLink href="https://www.linkedin.com/in/aaron-abebe-887796142/">
                LinkedIn
            </ContactLink>
        </p>
        <p>
            <ContactLink href="https://github.com/aaronabebe/">Github</ContactLink>
        </p>
    </div>
</div>
<style lang="scss">
    @import "../styles/breakpoints";
    @import "../styles/colors";
    @import "../styles/animations";

    p {
        padding: 5px 0;
        margin: 0;
        color: white;
        a {
            color: white;
        }
    }

    .small {
        font-size: 0.5em;
        font-family: "Playfair Display", serif;
        font-style: italic;
    }

    .container {
        display: flex;
        padding: 1em;
        font-size: 4em;
        font-family: "Bebas Neue";
        justify-content: flex-start;
        align-items: center;

        // @include for-desktop-up {
        // 	font-size: 2em;
        // }
    }

    .container > div {
        padding: 20px;
        background-color: $primary;
    }

</style>
