---
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import { SITE } from "@consts";
---

<header>
  <Container>
    <div class="flex flex-wrap gap-y-2 justify-between">
      <Link href="/" underline={false}>
        <div class="font-serif font-light bg-stone-900 dark:bg-stone-100 text-white dark:text-black p-1 text-xl">
          {SITE.NAME}
        </div>
      </Link>
      <nav class="flex gap-5 uppercase">
        <Link href="/blog">
          blog
        </Link>
        <Link href="/work">
          work
        </Link>
        <Link href="/projects">
          projects
        </Link>
      </nav>
    </div>
  </Container>
</header>
